<div>
  <h1>Hello Routes</h1>
<!--  <nav>-->
<!--    <a routerLink="">Home</a>-->
<!--    <a routerLink="/login">Login</a>-->
<!--    <a routerLink="/page1">Page1</a>-->
<!--    <a routerLink="/page2">Page2</a>-->
<!--  </nav>-->
  <router-outlet></router-outlet>
  <button mat-button [matMenuTriggerFor]="menu">Navigation</button>
  <mat-menu #menu="matMenu" yPosition="below">
    <button mat-menu-item><a routerLink="">Home</a></button>
    <button mat-menu-item><a routerLink="/login">Login</a></button>
    <button mat-menu-item><a routerLink="/page1">Page1</a></button>
    <button mat-menu-item><a routerLink="/page2">Page2</a></button>
  </mat-menu>
</div>
