<div class="container">
<!--  <div class="form">-->
<!--    <p>Last name: {{ user.lastName }}</p>-->
<!--    <p>First name: {{ user.firstName }}</p>-->
<!--    <p>Age: {{ user.age }}</p>-->
<!--    <p>Sex: {{ user.sex }}</p>-->
<!--    <p>E-mail: {{ user.email }}</p>-->
<!--  </div>-->
  <div>Login page</div>
  <input [formControl]="nameControl" placeholder="name">
  <input [formControl]="lastNameControl" placeholder="last name">
  <input [formControl]="email" placeholder="email">
  <input [formControl]="password" placeholder="password">


<!--  <p>{{nameControl.value}}</p>-->
</div>
